*{
    box-sizing: border-box;
}

/*=========================
Generic classes
=========================*/

select{
    display: block!important;
}
#typeSelect{
    display: none!important;
}
#typeSelectMonitor{
    display: none!important;
}
.caret{
    visibility: hidden!important;
}
